.no-select {  /*Prevents the user from selecting text*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.contactRow td{
  cursor: pointer;
}

body {
  background-color: #FFF5CE;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.container-fluid{
  margin-top:80px;
}

#contactTemplate{
  display: none;
}

#headerRow > .headerData{
  border-bottom: 2px solid lightgrey;
  background-color: white;
  font-size: 20px;

}

.contactDelete{
  padding: 0px;
}

.contactDelete button {
  width: 32px;
  height: 32px;
  padding: 0px;
  padding-top: 3px;
  border-radius: 4px;
  border: 0px solid red;
  background-color: #ff8282;
}

.contactDelete button:focus, .contactDelete button:active{
  outline: 0px;
}

.contactDelete button:active {
    background-color: #e07272;
}

tr {
  height: 40px;
}

#newContact {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  padding-top: 16px;
  background-color: #cedeff;
}

#upperNewContact{
  white-space:nowrap;
  width: 570px;
}

#newAddress {
  width: 570px;
  margin-top: 4px;
}

#upperNewContact{
  width: 100%;
}

#contactsBody{
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
}

#contactsBody td{
  border: 2px solid lightgrey;
  background-color: #F5FFE8;
}

input:focus, input:active, button:focus {
  outline: 0px;
}
